*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: auto; 
}

/* img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
} */

/* Regrouper les H2 */

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

/* utiliser une variable pour font-size */
/*  font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem) */

html {
  font-family:"Alata";
  font-size: 15px;
  color: $very-dark-gray;
  font-weight: 400;
  width:100vw;
}

body {
  min-height: 100vh;
  min-height: 100vdh;
  background-color: $white;
  width:100%;
}

main {
  width: 100%;
}
 /* utiliser une variable pour le padding mobile */

.navbar {
  position: fixed;
  top:0;
  right: 0;
  height: 100dvh; /* ou vh ? */
  width: 100vw;  /* TBD : pour tablette je peux mettre partiel + overlay*/
  z-index: 10;
  background-color: $black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

.navbar--show {
  opacity: 1;
  pointer-events: all;
}

.navbar__list {
  width:100%; /* TBD */
  padding-left: 5vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:4vh;
  height: 100%;
}

.navbar__link {
  width:100%;
  color: $white;
  font-size: 1.75rem;
  margin-left:5vw;
  font-family: "Josefin Sans";
  font-weight: 300;
}

.navbar__link:hover,
.footer__navbar__link:hover,
.footer__attribution a:hover {
  border-bottom: 2px solid $white;
  cursor: pointer;
}

.open-navbar-button {
  display:block;
}

.open-navbar-icon:hover > g > path {
  fill:$black;
}

.logo {
  z-index:11;
}

.close-navbar-button {
  display:none;
  z-index:11;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  max-width:100%;
  padding: 0 5vw; /* utiliser un min(5rem, 8%) */
  margin-bottom: 15vh;

  .card-container__title {
    font-family: "Josefin Sans";
    font-weight: 300;
    color: $black;
    text-align: center;
    font-size: 2rem; /* a modifier */
    margin-bottom:3vh;
  }
  .card {
    max-width: 100%;
    padding:0 5vw;
    position: relative;
  }

  .card:hover {
    cursor: pointer;
  }

  .card:hover > .card__title {
    color:$black;
  }

  .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    z-index: 5;
  }

  .card:hover::after {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .card__img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card__title {
    position:absolute;
    bottom: 5vw;
    padding-left: 5vw;
    font-family: "Josefin Sans";
    font-weight: 300;
    color: $white;
    font-size: 1.5rem;
    z-index: 8;
  }

  .see-all-button {
    font-family: "Alata";
    font-weight: 400;
    color: $black;
    border: 1px solid $black;
    padding: 3vw 10vw; /* A MODIFIER */
    letter-spacing: 0.5rem;
    font-size: 1rem;
    margin-top:2vh;
    transition: background-color 300ms ease;
    transition: color 300ms ease;
  }

  .see-all-button:hover {
    background: $black;
    color: $white;
  }

}

.header {
  width:100%;

  .header__hero__img {
    width: 100%; /* TBD */
    height: 100%; /* TBD */
  }
  
  .header__top {
    position: absolute;
    top: 5vh; /* TBD */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5vw;  /* utiliser un min(x-rem, y-%) */
  }
}

h1 {
  position: absolute;
  top: 33dvh; /* TBD */
  color: $white;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 2.75rem;
  margin:0 5vw;
  padding:7vw;  /* utiliser un min(x-rem, y-%) */
  border: 2px solid $white;
}

.main__hero {
  width:100%;
  padding:12vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main__hero__img {
    width:100%;
    height: auto;
  }

  .main__hero__title {
    font-family: "Josefin Sans";
    font-weight: 300;
    color: $black;
    text-align: center;
    font-size: 2rem; /* a modifier */
    margin-top:6vh;
    margin-bottom:3vh;
  }

  .main__hero__text {
    color:$dark-gray;
    text-align: center;
    line-height:1.75;
    padding:0 9vw;  /* utiliser un min(x-rem, y-%) */
  } 
}

.footer__container {
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5vh; /* A MODIFIER */
  padding: 10vh 0;

  .footer__navbar__list {
    color:$white;
    line-height: 3rem;
  }

  .footer__links-container {
    display: flex;
    justify-content: center;
    gap:5vw;
    width:100%;
  }

  .footer__link-icon {
    color:$white;
  }

  .footer__link-icon:hover {
    cursor: pointer;
  }

  .footer__navbar__item {
    text-align: center;
  }

  .footer__attribution {
    font-size: 0.8rem;
    text-align: center;
    color: $dark-gray;
  }

  .footer__attribution a {
    color: $white;
  }
}



/*
@media screen and (min-width:750px) {
  .navbar {
    background-color: ;
  }
  
  .navbar__list {
    list-style: none;
    display: flex;
  }
  
  .navbar__item {
    display: flex;
  }
  
  .navbar__link {
    display: flex; 
    text-decoration: none;
    color: ;
    padding: 1em 2em;
    transition: border-bottom 300ms ease;
  }
  
  .navbar__link:hover { + :focus 
    border-bottom: 2px solid $white; 
  }

  .open-navbar-button {
    display:none;
  }
  
  .close-navbar-button {
    display:none;
  }
}

*/

/* ======================================================
Sass allow partials scss files:

ex : _variables.scss

@use 'variables';

.button {
  color: variables.$primary-color;
  font-size: variables.$font-size;
}
==========================================================*/



/* =======================================================
Sass allow Mixins:

@mixin breakpoint($size) {
  @if $size == mobile {
    @media (min-width: 30em) {
      @content;
    }
  }
  @else if $size == tablet {
    @media (min-width: 48em) {
      @content;
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  
  @include breakpoint(mobile) {
    flex-direction: row;
  }
}
================================================================*/

/* =======================================================
Sass share properties with Extend :

.message {
  border: 1px solid #ccc;
  padding: 1rem;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}
================================================================*/